<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training App</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <h1>Training App</h1>

    <h2>Add Training</h2>
    <form th:action="@{/api/v1/createDiaryR}" method="post">
        <div class="form-group">
            <label for="Title">Training Name:</label>
            <input type="text" id="Title" name="Title" required>
        </div>
        <div class="form-group">
            <label for="DurOfTrainin">Duration of training:</label>
            <input type="number" id="DurOfTrainin" name="DurOfTrainin" required>
        </div>
        <button type="submit" class="btn">Add Training</button>
    </form>

    <h2>All Trainings</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="diary : ${diaries}">
            <td th:text="${diary.title}"></td>
            <td th:text="${diary.DurOfTrainin}"></td>
            <td>
                <form th:action="@{/deleteTraining/{id}(id=${training.id})}" method="post" class="inline-form">
                    <button type="submit" class="btn btn-delete">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>